html,
body {
	width: 100%;
	height: 100%;
}

* {
	box-sizing: border-box;
}

input[type='tel'] {
	-moz-appearance:textfield;
}

textarea,
input[type="text"],
input[type="button"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="submit"] {
	appearance: none;
	border-radius: 0;
}