/*--------------------------------------------------------------------------------------
 Partials - 
 SCSS files that do not convert into actual lines within css.
 They can be used for variable creations or color declarations
 --------------------------------------------------------------------------------------*/
 @import "partials/mixins";
 @import "partials/color";
 @import "partials/easings";

/*--------------------------------------------------------------------------------------
 Modules - 
 Segemented SCSS files that operate independently, with global declarations
 --------------------------------------------------------------------------------------*/
 @import "modules/reset";
 @import "modules/custom_normalizer";
 @import "modules/global-classes";
 @import "modules/typography";
 @import "modules/clearfix";
 @import "modules/overall_layout_styling";
 @import "modules/font_import";
 /* Responsives */	
	 // Responsive imports here
/*--------------------------------------------------------------------------------------
 Components - 
 Bits and pieces of the project overall styling files, these tend to be project
 specific stylesheets that cannot be a part of the skeletal framework styling
 --------------------------------------------------------------------------------------*/

 /* Responsives */
	 // Responsive imports here
